{% load isNhomTruong %}
<h5>Hệ thống quản lí nhóm</h5>
<hr>
<div class="well">
<b>{{ nhom.ten_nhom }} - Group Management</b>
<dl class="dl-horizontal">
        <dt>Môn học:</dt>
        <dd>{{ nhom.mon_hoc }}</dd>
        <dt>Giới thiệu:</dt>
        <dd>{{ nhom.gioi_thieu_nhom }}</dd>
</dl>
<b><span style="text-decoration: underline;">Thành viên:</span> </b>
{% if nhom.dsthanhvien.count <= 0 %}(Chưa có thành viên){% endif %}
{% for m in nhom.thanhviennhom_set.all %}
    <span class="label label-inverse">{{ m.user }}</span> {% if not forloop.last %},{% endif %}
{% endfor %}
</div>
<ul class="nav nav-tabs" id="nhomTab">
    <li><a href="#thaoluan" data-toggle="tab">Thảo Luận</a></li>
    <li><a href="#phancong" data-toggle="tab">Phân Công Nhóm</a></li>
    <li><a href="#binhchon" data-toggle="tab">Bình Chọn</a></li>
    {% if user.pk|isNhomTruong:nhom.pk %}
    <li><a href="#quanli" data-toggle="tab">Quản Lí Nhóm</a></li>
    {% endif %}
</ul>
<div class="tab-content">
    <div class="tab-pane" id="thaoluan" data-href="{{ nhom.get_absolute_url }}/thaoluan"></div>
    <div class="tab-pane" id="phancong" data-href="{{ nhom.get_absolute_url }}/phancong"></div>
    <div class="tab-pane" id="binhchon" data-href="{{ nhom.get_absolute_url }}/binhchon"></div>
    {% if user.pk|isNhomTruong:nhom.pk %}
    <div class="tab-pane" id="quanli">{% include '_nhom_quan_li.html' %}</div>
    {% endif %}
</div>
<script>
    $('a[data-toggle="tab"]').on('show', function (e) {
        var $a = $($(e.target).attr('href'));
        if($a.attr('data-href'))
        {
            $.getJSON($a.attr('data-href'), function(data)
            {
                $a.html(data.html);
            })
        }
    });
    $('a[href="#thaoluan"]').tab('show');
</script>