<div class="accordion-inner">
    <div class="well">
        Test cai chuc nang binh luan xem no the nao, hihi
    </div>
    <br>
    <div class=well>
        <div class="row-fluid">
            <div class="span2">
                <div class="thumbnail">
                    <img src="{{ user.my_profile.get_mugshot_url }}" style="width: 50px; height: 50px">
                    <div style="text-align: center;"><b>NamPNQ</b></div>
                </div>
            </div>
            <div class="span9 well">
                Comment cai nao
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span2">
                <div class="thumbnail">
                    <img src="{{ user.my_profile.get_mugshot_url }}" style="width: 50px; height: 50px">
                    <div style="text-align: center;"><b>NamPNQ</b></div>
                </div>
            </div>
            <div class="span9 well">
                Comment cai nao
            </div>
        </div>
        <hr>
    </div>
</div>