{% load bootstrap %}
{% if message %}
    <script id="mesScript">
        var $a = $("#mesScript").parent().parent();
        $($a).modal('hide');
        $($a.attr('data-replace-inner')).html("{{ message|safe }}");
        $.each($($a.attr('data-refresh')), function(index, value) {
            $.getJSON($(value).data('refresh-url'), function(data) {
                $(value).replaceWith(data.html)
            })
        })
    </script>
{% else %}
<form id="taonhom">
{% csrf_token %}
{{ form|bootstrap }}
</form>
{% if method_get %}
{% comment %}
<script>
    var $a = $("#taonhom").parent().parent();
    var $b = $($a).find('.modal-footer > button.submit');
    $($b).live('click',function(e){
        e.preventDefault();
        var dataForm = $('#taonhom').serialize();
        $.ajax({
                url:$a.attr('href'),
                type:$a.attr('data-method'),
                data:dataForm,
                success:function(data)
                {
                    $a.find('.modal-body').html(data.html)
                }

        })
    });
    $($b).html('Xác nhận');
</script>
{% endcomment %}
{% endif %}
{% endif %}