{% load bootstrap %}
{% if message %}
    <script id="mesScript">
        var $a = $("#mesScript").parent().parent();
        $($a).modal('hide');
        $($a.attr('data-replace-inner')).html("{{ message|safe }}");
        $.each($($a.attr('data-refresh')), function(index, value) {
            $.getJSON($(value).data('refresh-url'), function(data) {
                $(value).replaceWith(data.html)
            })
        })
    </script>
{% else %}
<form id="taonhom">
{% csrf_token %}
{{ form|bootstrap }}
</form>
{% endif %}