{% load compress %}
<h5>Hệ thống quản lí nhóm</h5>
<hr>
<h6>Tìm kiếm, tạo nhóm</h6>
<p>Danh sách các môn học</p>
<form class="form-inline ajax" method="post" action="{% url dsnhom %}" data-replace-inner="#result">
    {% csrf_token %}
    <input type="hidden" class="bigdrop" id="monhocid" name="id" style="width:600px">
    <input type="submit" class="btn" value="Tìm kiếm nhóm">
</form>
<div id="loading"></div>
<div id="message"></div>
<table class="table table-hover">
    <tbody id="result">

    </tbody>
</table>
<!-- Modal -->
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Xác nhận rời khỏi nhóm</h3>
    </div>
    <div class="modal-body">
        <p>Bạn chắc chắn muốn rời khỏi nhóm này?</p>
    </div>
    <div class="modal-footer">
        <button id="confirm" class="btn btn-danger submit">Uh,Chắc chắn</button>
        <button id="cancel" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Không</button>
    </div>
</div>
<a class="btn btn-success" id="newgroupBtn" href="{% url taonhom %}"><i class="icon-pencil"></i>Tạo nhóm mới</a>
{% compress 'js' %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#monhocid").select2({
                placeholder: "Nhập vào tên môn học cần tìm nhóm",
                minimumInputLength: 1,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: "{% url dsmon_lookup %}",
                    dataType: 'jsonp',
                    data: function (term) {
                        return {
                            q: term // search term
                        };
                    },
                    results: function (data) {
                        return {results: data.data};
                    }
                },
                formatResult: function (m) { return "<b>" + m.ten_mon + "</b><br><em>"+m.gioi_thieu +"</em><br><b>Năm học:</b>"+ m.nam_hoc; } , // omitted for brevity, see the source of this page
                formatSelection: function (m) { return m.ten_mon; } , // omitted for brevity, see the source of this page
                dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
            });
        });
        $('.modal-footer > button.submit').click(function(e){
            var $a = $(this).parent().parent();
            $a.modal('hide');
            $.ajax({
                url: $a.attr('href'),
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType:'json',
                type : $a.attr('data-method'),
                success:function(result){
                    $($a.attr('data-replace-inner')).html(result.html);
                    $.each($($a.attr('data-refresh')), function(index, value) {
                        $.getJSON($(value).data('refresh-url'), function(data) {
                            $(value).replaceWith(data.html)
                        })
                    })
                }});
        });
        $(document).on('click', 'a.ajax-modal', function (e) {
            e.preventDefault();
            var $a = $(this);
            var $b = $($a.attr('data-target'));
            var attributes = $a.prop("attributes");
            $b.modal("show");
            $.each(attributes, function() {
                if(this.name !== "class" && this.name !== "data-target")
                    $b.attr(this.name, this.value);
            });
            return false;
        });
</script>
{% endcompress %}